apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-server-conf
  labels:
    name: prometheus-server-conf
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
      evaluation_interval: 1m
    scrape_configs:
      - job_name: 'prometheus'
        scrape_interval: 10s
        static_configs:
          - targets: ['prometheus-server:9090']
      - job_name: 'Pushgateway'
        honor_labels: true
        static_configs:
          - targets: ['pushgateway-server:9091']