---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-server
  labels:
    run: prometheus-server
spec:
  ports:
    - protocol: "TCP"
      port: 9090
      targetPort: 9090
  type: ClusterIP
  selector:
    app: prometheus-server